<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Purchasing</title>
</head>
<body>

    <div class="bg-gray-900 h-12">

    </div>
    <div class="flex flex-row gap-8">
    <div>
        <ul class="flex flex-col bg-gray-900 text-gray-200 justify-start p-6 gap-12">
            <li><a href="{% url 'purchasinghomepage' %}">Home</a></li>
            <li><a href="{% url 'purchasingaddpo' %}">Make P.O</a></li>
            <li><a href="{% url 'purchasingpurchasemonitoring' %}">Purchase Monitoring</a></li>
            <li><a href="{% url 'purchasingsuppliers' %}">Suppliers</a></li>
            <li><a href="{% url 'purchasingproducts' %}">Products</a></li>
        </ul>
    </div>
    
    
 <div class="mt-8">
    {% block content %}
        <!-- all pages will be rendered here -->
    {%endblock%}
 </div>   
</div>

</body>
</html>