<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Purchasing</title>
</head>
<body>

    <ul class="flex flex-row bg-gray-900 text-gray-200 justify-center p-6 gap-12">
        <li><a href="{% url 'homepage' %}">Home</a></li>
        <li><a href="{% url 'addpo' %}">Make P.O</a></li>
        <li><a href="{% url 'purchasemonitoring' %}">Purchase Monitoring</a></li>
        <li><a href="{% url 'suppliers' %}">Suppliers</a></li>
        <li><a href="{% url 'products' %}">Products</a></li>
    </ul>
    
 <div>
    {% block content %}
        <!-- all pages will be rendered here -->
    {%endblock%}
 </div>   


</body>
</html>